.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
        /*RUG */
        background-color: #1b1534;
        color: white;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}

.columns h1{

        font-size: 42px;
        letter-spacing: -.3px;
        line-height: 50px;
    
}







/* FULL WIDTH */

.fullwidth ul {
  display: block;

}

.fullwidth > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:none;

}

.fullwidth > ul > li:nth-child(even) {
  background-color: #F3F2F6;
}

@media (min-width: 960px) {
  .fullwidth > ul > li {
    flex-direction: row;
  }

  .fullwidth > ul > li:nth-child(even) {
    flex-direction: row-reverse;
  }

 .reverse > ul > li {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
  }
}

.fullwidth ul li picture img {
  width: 100%;
  aspect-ratio: 16/7;
}




@media (min-width: 960px) {
  .fullwidth ul li picture img {
    width: 620px;
    aspect-ratio: 16/8;
  }


}














